[submodule "modules/cocotb"]
	path = modules/cocotb
	url = https://github.com/cocotb/cocotb.git
[submodule "modules/liteiclink"]
	path = modules/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "modules/microscope"]
	path = modules/microscope
	url = https://github.com/m-labs/microscope.git
[submodule "modules/artiq"]
	path = modules/artiq
	url = https://github.com/elhep/artiq.git
	branch = afck1v1
[submodule "modules/migen"]
	path = modules/migen
	url = https://github.com/elhep/migen.git
	branch = afck1v1
[submodule "modules/misoc"]
	path = modules/misoc
	url = https://github.com/elhep/misoc.git
	branch = afck1v1
